@font-face {
    font-family: 'Headers';
    src: url('../assets/fonts/PressStart2P-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'VT-Regular';
    src: url('../assets/fonts/VT323-Regular.ttf') format('truetype');
}
body{
    font-family: 'VT-Regular', sans-serif;
    color: #fff;
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Headers', 'VT-Regular', sans-serif;
}

#app {
    background: url('/src/assets/images/background-image.png') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    min-width: 100%;
    align-items: initial;
}

h1 {
    font-size: clamp(1.5em, 5vw, 3rem);
}

h2 {
    font-size: clamp(1.2em, 4vw, 1.5rem);
}

h3 {
    font-size: clamp(1em, 3vw, 1.25rem);
}

h4 {
    font-size: clamp(1rem, 3vw, 1.1rem);
}

h5 {
    font-size: clamp(1rem, 2.5vw, 1rem);
}

h6 {
    font-size: clamp(0.9rem, 2vw, 1em);
}
p {
    font-size: clamp(1.2rem, 2.5vw, 1.5rem);
}
a {
    font-size: clamp(1.75rem, 3vw, 2.2rem);
}

